@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tiro+Gurmukhi&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Tiro Gurmukhi', serif;*/
* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #F6F3F3;
    --nav-height: 60px;
    --page-max-width: 1400px;
}

body, html{
    background-color: var(--bg-color);
    margin:0;
    padding:0;
    border:0;
}

h1{
    font-family: 'Tiro Gurmukhi', serif;
    color: #25261C;
    font-size: 50px;
    letter-spacing: 8px;
    padding: 20px;
}

h2{
    font-family: 'Tiro Gurmukhi', serif;
    letter-spacing: 3px;
    color: #25261C;
    margin: auto;
    padding: 10px 0;
}

h3{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    color: #25261C;
    margin: auto;
    width: 98%;
    font-size: 20px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #736B66;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    color: #25261C;
    font-family: 'Open Sans', sans-serif;
}

section {
    display: block;
    pointer-events: auto;
    padding: 0;
}

ul {
    list-style-type: none;
}

/*moves content down for navigation*/
.content {
    padding-top: var(--nav-height);
}

/*adds padding*/
.main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
/*banner*/

.two-col {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--nav-height));
}

.home-hero {

}

.flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.home-hero text{
    
}
/*
input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
}


input[type=submit] {
    background-color: #86cd82;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

input[type=submit]:hover {
    background-color: #5ea854;
}
*/

/*movie grid*/

#container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.grid>* {
}

.movie-img{
    width: 100%;
    height: 100%;
}

.rec-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}

/*movies list page*/

.page-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.filters{
    grid-column: 1;
    padding: 14px 16px 16px 16px;
}

.filter-panel {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    width: 100%;
    margin-top: 12px;
}

.filter-panel-inner{
    padding: 14px 16px 16px 16px;
}

.filter li{
    padding: 5px;
    border: 1px solid #cbc5d9;
    border-radius: 10px;
    display:inline-block;
    margin-right: 6px;
    margin-top: 8px;
    cursor: pointer;
}

    .filter li:hover{
        background-color: #cbc5d9;
    }

    .filter li:active{
        background-color: #cbc5d9;
    }

.movies{
    grid-column: 2;
    padding: 14px 16px 16px 16px;
}

/* dropdown style */
select {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.dropdown {
    border: 1px solid #cbc5d9;
    border-radius: 5px;
    font-size: 13px;
}

.submit-button{
    background-color: #cbc5d9;
    padding: 5px;
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

    .submit-button:hover{
        -webkit-filter: brightness(90%);
    }
/*navbar*/

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #e3d8d8;
}

.navbar__container{
    display: flex;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 60px;

}

.navbar__menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
}

.navbar__menu--left {
    margin-right: auto;
}

.navbar__menu--right {
    margin-left: auto;
}

.navbar__menu li {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
}



.navbar__menu li a {
    color: #54506B;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    padding: 0 10px;
    margin: 0 3px;
    position: relative;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif
}



.navbar__menu li a:hover{
    text-decoration: underline;
    text-decoration-color: #54506B;
}

.navbar__menu li a:active{

}

.current-page {
    text-decoration: underline !important;
    text-decoration-color: #54506B;
}

/*Search bar*/

.search-box{
    display: flex;
    position: relative;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #cbc5d9;
    align-items: center;
}

.search-container{
    width: 100%;
    height: 100%;
    vertical-align: center;
    background: #F6F3F3;
}

.search__input{
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:#54506B;
    font-weight:500;
    background-color: transparent;
}

.search__input:focus{
    outline:none;
}

.material-icons-outlined{
    font-size: 24px;
    color: #54506B;
    background-color: transparent;

}

/*movie details css*/

.flag_img{
    width: 40px;
    height: 30px;
    padding: 3px 0;
    margin-right: 20px;
}

.movie-banner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-column {
    padding-top: 30px;
    padding-bottom: 30px;
}

.inner-content{
    display: flex;
    flex-wrap: nowrap;
    max-width: var(--page-max-width);
}

.poster{
    min-width: 300px;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.movie-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding-left: 40px;
}

.movie-title {
    width: 100%;
    padding: 0;
}

.movie-representation{
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie-filters{
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 660px) {

    .grid {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 960px) {

    .grid {
        gap: 50px;
        padding: 110px 50px 50px;
    }
}

@media (max-width: 1080px) {

    .grid {
        grid-template-columns: 1fr 1fr;
        padding-top: 130px;
    }
}



